$app-padding: 1rem;

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: $app-padding;
  min-height: calc(100vh - 2 * $app-padding);
}

.website-title-container {
  display: flex;
  flex-direction: column;
  @include apply-font($font-heading-primary);
  gap: 0.5rem;
  margin-bottom: 7.5vh;
  text-align: center;

  & > h1 {
    font-size: 4rem;
  }

  & > h2 {
    color: $color-text-gray;
    font-size: 1.5rem;
  }
}
