.loading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}

.spinner {
  animation: spin 1s linear infinite;
  border: 0.3em solid rgba(0, 0, 0, 0.1);
  border-top-color: $color-accent-primary;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
